@model Meal_Planner.Models.RecipeModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RecipeModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadyInMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadyInMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AggregateLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AggregateLikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerServing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DairyFree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DairyFree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlutenFree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlutenFree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vegan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vegan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vegetarian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vegetarian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ketogenic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ketogenic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instructions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
