@model Meal_Planner.Models.RecipeModel

@{
    ViewData["Title"] = "Details"; <!-- Document Header Starts -->
}

<h1>Details</h1>

<div>
    <div class="float-right">
        <a href="#" id="addToPlanner" class="btn btn-outline-primary">Add to Meal Plan</a>
    </div>
    <h4>RecipeModel @ViewData["Cache"]</h4>
    <div class="container">
        <div id="test1"></div>
        <div class="row">
            <div class="col">
                <img id="recipeImg" class="img-fluid" src="https://via.placeholder.com/750" />
            </div>
            <div class="col">
                <pre id="spoonacular-ingredients" style="display:none">model=>model.id</pre>
                <div id="spoonacular-nutrition-visualizer"></div>
            </div>
        </div>
        <!-- All of this is using a style=display:none which is fancy talk for hidden html-->
        <div id="spoonacularNutritionComposition-ENERGY" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-ENERGY"></div></div>
        <div id="spoonacularNutritionComposition-FAT" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-FAT"></div></div>
        <div id="spoonacularNutritionComposition-FAT_SATURATED" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-FAT_SATURATED"></div></div>
        <div id="spoonacularNutritionComposition-CARBOHYDRATES" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-CARBOHYDRATES"></div></div>
        <div id="spoonacularNutritionComposition-SUGAR" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-SUGAR"></div></div>
        <div id="spoonacularNutritionComposition-CHOLESTEROL" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-CHOLESTEROL"></div></div>
        <div id="spoonacularNutritionComposition-SODIUM" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-SODIUM"></div></div>
        <div id="spoonacularNutritionComposition-ALCOHOL" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-ALCOHOL"></div></div>
        <div id="spoonacularNutritionComposition-CAFFEINE" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-CAFFEINE"></div></div>
        <div id="spoonacularNutritionComposition-PROTEIN" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-PROTEIN"></div></div>
        <div id="spoonacularNutritionComposition-PHOSPHORUS" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-PHOSPHORUS"></div></div>
        <div id="spoonacularNutritionComposition-FIBER" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-FIBER"></div></div>
        <div id="spoonacularNutritionComposition-CALCIUM" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-CALCIUM"></div></div>
        <div id="spoonacularNutritionComposition-FOLATE" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-FOLATE"></div></div>
        <div id="spoonacularNutritionComposition-NIACIN_B3" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-NIACIN_B3"></div></div>
        <div id="spoonacularNutritionComposition-SELENIUM" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-SELENIUM"></div></div>
        <div id="spoonacularNutritionComposition-IRON" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-IRON"></div></div>
        <div id="spoonacularNutritionComposition-MANGANESE" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-MANGANESE"></div></div>
        <div id="spoonacularNutritionComposition-VITAMIN_B6" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-VITAMIN_B6"></div></div>
        <div id="spoonacularNutritionComposition-MAGNESIUM" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-MAGNESIUM"></div></div>
        <div id="spoonacularNutritionComposition-POTASSIUM" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-POTASSIUM"></div></div>
        <div id="spoonacularNutritionComposition-VITAMIN_A" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-VITAMIN_A"></div></div>
        <div id="spoonacularNutritionComposition-RIBOFLAVIN_B2" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-RIBOFLAVIN_B2"></div></div>
        <div id="spoonacularNutritionComposition-THIAMIN_B1" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-THIAMIN_B1"></div></div>
        <div id="spoonacularNutritionComposition-ZINC" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-ZINC"></div></div>
        <div id="spoonacularNutritionComposition-COPPER" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-COPPER"></div></div>
        <div id="spoonacularNutritionComposition-VITAMIN_C" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-VITAMIN_C"></div></div>
        <div id="spoonacularNutritionComposition-PANTOTHENIC_ACID_B5" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-PANTOTHENIC_ACID_B5"></div></div>
        <div id="spoonacularNutritionComposition-VITAMIN_E" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-VITAMIN_E"></div></div>
        <div id="spoonacularNutritionComposition-VITAMIN_B12" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-VITAMIN_B12"></div></div>
        <div id="spoonacularNutritionComposition-VITAMIN_K" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-VITAMIN_K"></div></div>
        <div id="spoonacularNutritionComposition-VITAMIN_D" class="spoonacularNutritionCompositionChart" style="display:none"><div id="spoonacularNutritionCompositionChart-VITAMIN_D"></div></div>
        <!-- end hidden shit-->
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servings)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReadyInMinutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReadyInMinutes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SourceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SourceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SourceUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SourceUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AggregateLikes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AggregateLikes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HealthScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HealthScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerServing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerServing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DairyFree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DairyFree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GlutenFree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GlutenFree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vegan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vegan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vegetarian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vegetarian)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ketogenic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ketogenic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtendedIngredients)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.ExtendedIngredients)*@
            <ol>
                @foreach (var item in @Model.ExtendedIngredients)
                {
                    <li>@item.Name</li>
                }
            </ol>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructions)
        </dd>

    </dl>
</div>

<div class="album py-5">
    <div class="container">
        <h1>Hello Test</h1>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://spoonacular.com/cdn/spoonacular-1.6.min.js"></script>
    <script type="text/javascript">
        var spoonacularServings = 1;

        jQuery(function () {
            chartENERGY = new CanvasJS.Chart('spoonacularNutritionCompositionChart-ENERGY', { title: { text: "Distribution of Calories", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 166.8, indexLabel: "ranch seasoning" }, { y: 257.64, indexLabel: "chicken breasts" }, { y: 136.07776, indexLabel: "tomatoes" }, { y: 37.68, indexLabel: "bacon" }, { y: 306.17496, indexLabel: "cannellini beans" }, { y: 23.5, indexLabel: "chicken broth" }, { y: 561.3207600000001, indexLabel: "black beans" }, { y: 910.78, indexLabel: "cheddar cheese" }, { y: 775.64232, indexLabel: "cream cheese" }, { y: 123.76, indexLabel: "olive oil" },] }] });
            chartFAT = new CanvasJS.Chart('spoonacularNutritionCompositionChart-FAT', { title: { text: "Distribution of Fat", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 5.853399999999999, indexLabel: "chicken breasts" }, { y: 1.1906804000000002, indexLabel: "tomatoes" }, { y: 2.8192000000000004, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.987, indexLabel: "chicken broth" }, { y: 2.2963122, indexLabel: "black beans" }, { y: 74.8964, indexLabel: "cheddar cheese" }, { y: 77.6549504, indexLabel: "cream cheese" }, { y: 14.0, indexLabel: "olive oil" },] }] });
            chartFAT_SATURATED = new CanvasJS.Chart('spoonacularNutritionCompositionChart-FAT_SATURATED', { title: { text: "Distribution of Saturated Fat", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 1.28142, indexLabel: "chicken breasts" }, { y: 0.1700972, indexLabel: "tomatoes" }, { y: 0.97552, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.1363, indexLabel: "chicken broth" }, { y: 0.59108777, indexLabel: "black beans" }, { y: 47.667919999999995, indexLabel: "cheddar cheese" }, { y: 43.75348432, indexLabel: "cream cheese" }, { y: 1.9331200000000002, indexLabel: "olive oil" },] }] });
            chartCARBOHYDRATES = new CanvasJS.Chart('spoonacularNutritionCompositionChart-CARBOHYDRATES', { title: { text: "Distribution of Carbohydrates", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 33.336000000000006, indexLabel: "ranch seasoning" }, { y: 0.0, indexLabel: "chicken breasts" }, { y: 31.0002147, indexLabel: "tomatoes" }, { y: 0.1408, indexLabel: "bacon" }, { y: 64.7645089, indexLabel: "cannellini beans" }, { y: 2.021, indexLabel: "chicken broth" }, { y: 100.8251153, indexLabel: "black beans" }, { y: 2.8928000000000003, indexLabel: "cheddar cheese" }, { y: 9.2305972, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartSUGAR = new CanvasJS.Chart('spoonacularNutritionCompositionChart-SUGAR', { title: { text: "Distribution of Sugar", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.0, indexLabel: "chicken breasts" }, { y: 18.710692, indexLabel: "tomatoes" }, { y: 0.0, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.0, indexLabel: "chicken broth" }, { y: 1.1752, indexLabel: "cheddar cheese" }, { y: 7.280151599999999, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartCHOLESTEROL = new CanvasJS.Chart('spoonacularNutritionCompositionChart-CHOLESTEROL', { title: { text: "Distribution of Cholesterol", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 144.64, indexLabel: "chicken breasts" }, { y: 0.0, indexLabel: "tomatoes" }, { y: 7.84, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.0, indexLabel: "chicken broth" }, { y: 0.0, indexLabel: "black beans" }, { y: 237.3, indexLabel: "cheddar cheese" }, { y: 249.4756, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartSODIUM = new CanvasJS.Chart('spoonacularNutritionCompositionChart-SODIUM', { title: { text: "Distribution of Sodium", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 4500.0, indexLabel: "ranch seasoning" }, { y: 262.16, indexLabel: "chicken breasts" }, { y: 561.3207600000001, indexLabel: "tomatoes" }, { y: 137.36, indexLabel: "bacon" }, { y: 914.2724499999999, indexLabel: "cannellini beans" }, { y: 1720.2, indexLabel: "chicken broth" }, { y: 4.25243, indexLabel: "black beans" }, { y: 1403.46, indexLabel: "cheddar cheese" }, { y: 728.01516, indexLabel: "cream cheese" }, { y: 0.28, indexLabel: "olive oil" },] }] });
            chartALCOHOL = new CanvasJS.Chart('spoonacularNutritionCompositionChart-ALCOHOL', { title: { text: "Distribution of Alcohol", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.0, indexLabel: "chicken breasts" }, { y: 0.0, indexLabel: "tomatoes" }, { y: 0.0, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.0, indexLabel: "chicken broth" }, { y: 0.0, indexLabel: "cheddar cheese" }, { y: 0.0, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartCAFFEINE = new CanvasJS.Chart('spoonacularNutritionCompositionChart-CAFFEINE', { title: { text: "Distribution of Caffeine", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.0, indexLabel: "chicken breasts" }, { y: 0.0, indexLabel: "tomatoes" }, { y: 0.0, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.0, indexLabel: "chicken broth" }, { y: 0.0, indexLabel: "cheddar cheese" }, { y: 0.0, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartPROTEIN = new CanvasJS.Chart('spoonacularNutritionCompositionChart-PROTEIN', { title: { text: "Distribution of Protein", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 47.979800000000004, indexLabel: "chicken breasts" }, { y: 6.9739851999999996, indexLabel: "tomatoes" }, { y: 2.7352, indexLabel: "bacon" }, { y: 23.728559399999998, indexLabel: "cannellini beans" }, { y: 2.021, indexLabel: "chicken broth" }, { y: 37.6765298, indexLabel: "black beans" }, { y: 56.273999999999994, indexLabel: "cheddar cheese" }, { y: 13.449002799999999, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartPHOSPHORUS = new CanvasJS.Chart('spoonacularNutritionCompositionChart-PHOSPHORUS', { title: { text: "Distribution of Phosphorus", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 474.6, indexLabel: "chicken breasts" }, { y: 136.07776, indexLabel: "tomatoes" }, { y: 29.44, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 61.1, indexLabel: "chicken broth" }, { y: 595.3402, indexLabel: "black beans" }, { y: 1157.12, indexLabel: "cheddar cheese" }, { y: 240.40376, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartFIBER = new CanvasJS.Chart('spoonacularNutritionCompositionChart-FIBER', { title: { text: "Distribution of Fiber", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.0, indexLabel: "chicken breasts" }, { y: 8.079616999999999, indexLabel: "tomatoes" }, { y: 0.0, indexLabel: "bacon" }, { y: 20.3691397, indexLabel: "cannellini beans" }, { y: 0.0, indexLabel: "chicken broth" }, { y: 36.996140999999994, indexLabel: "black beans" }, { y: 0.0, indexLabel: "cheddar cheese" }, { y: 0.0, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartCALCIUM = new CanvasJS.Chart('spoonacularNutritionCompositionChart-CALCIUM', { title: { text: "Distribution of Calcium", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 11.3, indexLabel: "chicken breasts" }, { y: 144.58262000000002, indexLabel: "tomatoes" }, { y: 0.96, indexLabel: "bacon" }, { y: 255.14579999999998, indexLabel: "cannellini beans" }, { y: 28.2, indexLabel: "chicken broth" }, { y: 114.81560999999999, indexLabel: "black beans" }, { y: 1629.46, indexLabel: "cheddar cheese" }, { y: 222.26008, indexLabel: "cream cheese" }, { y: 0.14, indexLabel: "olive oil" },] }] });
            chartFOLATE = new CanvasJS.Chart('spoonacularNutritionCompositionChart-FOLATE', { title: { text: "Distribution of Folate", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 9.04, indexLabel: "chicken breasts" }, { y: 55.281589999999994, indexLabel: "tomatoes" }, { y: 0.0, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.0, indexLabel: "chicken broth" }, { y: 633.61207, indexLabel: "black beans" }, { y: 40.68, indexLabel: "cheddar cheese" }, { y: 24.94756, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartNIACIN_B3 = new CanvasJS.Chart('spoonacularNutritionCompositionChart-NIACIN_B3', { title: { text: "Distribution of Vitamin B3", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 23.5718, indexLabel: "chicken breasts" }, { y: 5.196469459999999, indexLabel: "tomatoes" }, { y: 0.8314400000000001, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 2.3735, indexLabel: "chicken broth" }, { y: 2.14747715, indexLabel: "black beans" }, { y: 0.18080000000000002, indexLabel: "cheddar cheese" }, { y: 0.3288542, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartSELENIUM = new CanvasJS.Chart('spoonacularNutritionCompositionChart-SELENIUM', { title: { text: "Distribution of Selenium", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 72.32, indexLabel: "chicken breasts" }, { y: 2.551458, indexLabel: "tomatoes" }, { y: 3.872, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.0, indexLabel: "chicken broth" }, { y: 5.102916, indexLabel: "black beans" }, { y: 31.414, indexLabel: "cheddar cheese" }, { y: 5.443104, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartIRON = new CanvasJS.Chart('spoonacularNutritionCompositionChart-IRON', { title: { text: "Distribution of Iron", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.8362, indexLabel: "chicken breasts" }, { y: 5.5281590000000005, indexLabel: "tomatoes" }, { y: 0.0768, indexLabel: "bacon" }, { y: 9.1852488, indexLabel: "cannellini beans" }, { y: 0.94, indexLabel: "chicken broth" }, { y: 8.930103, indexLabel: "black beans" }, { y: 1.5368000000000002, indexLabel: "cheddar cheese" }, { y: 0.8618248, indexLabel: "cream cheese" }, { y: 0.07840000000000001, indexLabel: "olive oil" },] }] });
            chartMANGANESE = new CanvasJS.Chart('spoonacularNutritionCompositionChart-MANGANESE', { title: { text: "Distribution of Manganese", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.0339, indexLabel: "chicken breasts" }, { y: 0.77819469, indexLabel: "tomatoes" }, { y: 0.0017599999999999998, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.2162, indexLabel: "chicken broth" }, { y: 1.88807892, indexLabel: "black beans" }, { y: 0.022600000000000002, indexLabel: "cheddar cheese" }, { y: 0.024947559999999997, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartVITAMIN_B6 = new CanvasJS.Chart('spoonacularNutritionCompositionChart-VITAMIN_B6', { title: { text: "Distribution of Vitamin B6", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 1.69274, indexLabel: "chicken breasts" }, { y: 0.6378645, indexLabel: "tomatoes" }, { y: 0.043680000000000004, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.0235, indexLabel: "chicken broth" }, { y: 0.29341767, indexLabel: "black beans" }, { y: 0.16724, indexLabel: "cheddar cheese" }, { y: 0.07937860000000001, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartMAGNESIUM = new CanvasJS.Chart('spoonacularNutritionCompositionChart-MAGNESIUM', { title: { text: "Distribution of Magnesium", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 58.76, indexLabel: "chicken breasts" }, { y: 85.04860000000001, indexLabel: "tomatoes" }, { y: 2.48, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 4.7, indexLabel: "chicken broth" }, { y: 297.6701, indexLabel: "black beans" }, { y: 63.28, indexLabel: "cheddar cheese" }, { y: 20.41164, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartPOTASSIUM = new CanvasJS.Chart('spoonacularNutritionCompositionChart-POTASSIUM', { title: { text: "Distribution of Potassium", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 836.2, indexLabel: "chicken breasts" }, { y: 1245.96199, indexLabel: "tomatoes" }, { y: 40.32, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 376.0, indexLabel: "chicken broth" }, { y: 1509.6126499999998, indexLabel: "black beans" }, { y: 221.48, indexLabel: "cheddar cheese" }, { y: 312.97848, indexLabel: "cream cheese" }, { y: 0.14, indexLabel: "olive oil" },] }] });
            chartVITAMIN_A = new CanvasJS.Chart('spoonacularNutritionCompositionChart-VITAMIN_A', { title: { text: "Distribution of Vitamin A", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 67.8, indexLabel: "chicken breasts" }, { y: 914.2724499999999, indexLabel: "tomatoes" }, { y: 2.96, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 9.4, indexLabel: "chicken broth" }, { y: 25.514580000000002, indexLabel: "black beans" }, { y: 2264.52, indexLabel: "cheddar cheese" }, { y: 3045.87028, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartRIBOFLAVIN_B2 = new CanvasJS.Chart('spoonacularNutritionCompositionChart-RIBOFLAVIN_B2', { title: { text: "Distribution of Vitamin B2", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.226, indexLabel: "chicken breasts" }, { y: 0.22112636, indexLabel: "tomatoes" }, { y: 0.01872, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.047, indexLabel: "chicken broth" }, { y: 0.25089336999999995, indexLabel: "black beans" }, { y: 0.8475, indexLabel: "cheddar cheese" }, { y: 0.283495, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartTHIAMIN_B1 = new CanvasJS.Chart('spoonacularNutritionCompositionChart-THIAMIN_B1', { title: { text: "Distribution of Vitamin B1", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.14464, indexLabel: "chicken breasts" }, { y: 0.31893225, indexLabel: "tomatoes" }, { y: 0.046479999999999994, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.0047, indexLabel: "chicken broth" }, { y: 1.03759292, indexLabel: "black beans" }, { y: 0.061020000000000005, indexLabel: "cheddar cheese" }, { y: 0.0453592, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartZINC = new CanvasJS.Chart('spoonacularNutritionCompositionChart-ZINC', { title: { text: "Distribution of Zinc", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 1.3107999999999997, indexLabel: "chicken breasts" }, { y: 1.1481561, indexLabel: "tomatoes" }, { y: 0.248, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.32900000000000007, indexLabel: "chicken broth" }, { y: 4.762721600000001, indexLabel: "black beans" }, { y: 7.0286, indexLabel: "cheddar cheese" }, { y: 1.1566596, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartCOPPER = new CanvasJS.Chart('spoonacularNutritionCompositionChart-COPPER', { title: { text: "Distribution of Copper", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.061020000000000005, indexLabel: "chicken breasts" }, { y: 0.77819469, indexLabel: "tomatoes" }, { y: 0.00856, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.12689999999999999, indexLabel: "chicken broth" }, { y: 0.8887578699999998, indexLabel: "black beans" }, { y: 0.07006, indexLabel: "cheddar cheese" }, { y: 0.043091239999999996, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartVITAMIN_C = new CanvasJS.Chart('spoonacularNutritionCompositionChart-VITAMIN_C', { title: { text: "Distribution of Vitamin C", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 2.7119999999999997, indexLabel: "chicken breasts" }, { y: 39.122355999999996, indexLabel: "tomatoes" }, { y: 0.0, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 32.9, indexLabel: "chicken broth" }, { y: 0.0, indexLabel: "black beans" }, { y: 0.0, indexLabel: "cheddar cheese" }, { y: 0.0, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartPANTOTHENIC_ACID_B5 = new CanvasJS.Chart('spoonacularNutritionCompositionChart-PANTOTHENIC_ACID_B5', { title: { text: "Distribution of Vitamin B5", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 3.2205, indexLabel: "chicken breasts" }, { y: 1.18217554, indexLabel: "tomatoes" }, { y: 0.08936, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.0423, indexLabel: "chicken broth" }, { y: 1.02908806, indexLabel: "black beans" }, { y: 0.93338, indexLabel: "cheddar cheese" }, { y: 1.2927372, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartVITAMIN_E = new CanvasJS.Chart('spoonacularNutritionCompositionChart-VITAMIN_E', { title: { text: "Distribution of Vitamin E", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.4294, indexLabel: "chicken breasts" }, { y: 5.3155375000000005, indexLabel: "tomatoes" }, { y: 0.032, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.0, indexLabel: "chicken broth" }, { y: 0.6553999999999999, indexLabel: "cheddar cheese" }, { y: 0.6577084, indexLabel: "cream cheese" }, { y: 2.009, indexLabel: "olive oil" },] }] });
            chartVITAMIN_B12 = new CanvasJS.Chart('spoonacularNutritionCompositionChart-VITAMIN_B12', { title: { text: "Distribution of Vitamin B12", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.452, indexLabel: "chicken breasts" }, { y: 0.0, indexLabel: "tomatoes" }, { y: 0.0944, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.188, indexLabel: "chicken broth" }, { y: 0.0, indexLabel: "black beans" }, { y: 1.8758, indexLabel: "cheddar cheese" }, { y: 0.56699, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
            chartVITAMIN_K = new CanvasJS.Chart('spoonacularNutritionCompositionChart-VITAMIN_K', { title: { text: "Distribution of Vitamin K", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.452, indexLabel: "chicken breasts" }, { y: 22.537878999999997, indexLabel: "tomatoes" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.0, indexLabel: "chicken broth" }, { y: 6.327999999999999, indexLabel: "cheddar cheese" }, { y: 6.577084, indexLabel: "cream cheese" }, { y: 8.428, indexLabel: "olive oil" },] }] });
            chartVITAMIN_D = new CanvasJS.Chart('spoonacularNutritionCompositionChart-VITAMIN_D', { title: { text: "Distribution of Vitamin D", verticalAlign: 'top', horizontalAlign: 'left' }, backgroundColor: 'rgba(255, 255, 255, 1)', creditHref: '', creditText: '', toolTip: { content: "", }, animationEnabled: false, data: [{ type: 'doughnut', dataPoints: [{ y: 0.0, indexLabel: "ranch seasoning" }, { y: 0.226, indexLabel: "chicken breasts" }, { y: 0.0, indexLabel: "tomatoes" }, { y: 0.032, indexLabel: "bacon" }, { y: 0.0, indexLabel: "cannellini beans" }, { y: 0.0, indexLabel: "chicken broth" }, { y: 0.0, indexLabel: "black beans" }, { y: 1.3559999999999999, indexLabel: "cheddar cheese" }, { y: 1.360776, indexLabel: "cream cheese" }, { y: 0.0, indexLabel: "olive oil" },] }] });
        });
    </script>
    <script type="text/javascript">
        function GetNutritionVisual() {
            const settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/recipes/1003464/nutritionWidget",
                "method": "GET",
                "headers": {
                    "accept": "text/html",
                    "x-rapidapi-key": "233fcd5469msh50148c2c9897d40p10f14cjsneaa6c8580ee8",
                    "x-rapidapi-host": "spoonacular-recipe-food-nutrition-v1.p.rapidapi.com"
                }
            };

            $.ajax(settings).done(function (response) {
                console.log(response); //log to browser console the api data

                var recipeImg = 'https://spoonacular.com/recipeImages/952139-556x370.jpg';
                $('#recipeImg').attr('src', recipeImg);//replace placeholder image src attribute with recipeImg
                $("#test1").append(response);//inject response result into
            });
        }
        GetNutritionVisual();
    </script>
}