@model IEnumerable<Meal_Planner.Models.RecipeModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadyInMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AggregateLikes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerServing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DairyFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlutenFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vegan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vegetarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ketogenic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadyInMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AggregateLikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerServing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DairyFree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlutenFree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vegan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vegetarian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ketogenic)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
